{# templates/dades_seccio.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/estilsSeccio.css') }}">
{% endblock %}

{% block body %}
    {% if equip %}
        <h1 class="titulo-seccio">{{ equip.nom }}</h1>
        <p class="descripcion-seccio">{{ equip.descripcio }}</p>
        <img src="{{ asset('assets/img/' ~ equip.imatge) }}" class="imagen-seccio" alt="Imagen del equipo {{ equip.nom }}">
    {% else %}
        <h1 class="titulo-seccio">Equipo No Encontrado</h1>
        <p class="descripcion-seccio">El equipo con código {{ codi }} no está registrado en el sistema.</p>
        <img src="{{ asset('assets/img/no_equip.jpg') }}" class="imagen-seccio" alt="Imagen de equipo no encontrado">
    {% endif %}
    <div class="back-home">
        <a href="{{ path('inici') }}">
            <img src="{{ asset('assets/img/back_to_home.jpg') }}" alt="Volver al inicio">
        </a>
    </div>
{% endblock %}

